.progress-bar {
	height: 30px;
}

.progress-bar-text {
	position: absolute;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.winrates {
	overflow: scroll;
}

div.multiselect {
	/* position: relative; */
}

span.chevron::after {
	position: absolute;
	top: 25%;
	right: 22px;
    display: inline-block;
    width: 1rem;
    height: calc(1rem* var(--pico-line-height, 1.5));
    margin-inline-start: .25rem;
    transform: rotate(0) translateX(.2rem);
    background-image: var(--pico-icon-chevron);
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
}

th.sortable {
	cursor: pointer;
}

th.sort::after {
    display: inline-block;
    width: 1rem;
    height: calc(1rem* var(--pico-line-height, 1.5));
    margin-inline-start: 0.5rem;
    background-image: var(--pico-icon-chevron);
    content: "";
	transition: transform .3s;
}

th.sort-desc::after {
	transform: rotate(0deg);
}

th.sort-asc::after {
	transform: rotate(180deg);
}

div.cardsearch {
	margin-bottom: 20px;
}

input.search {
	margin-bottom: 0;
}

.search-results {
	position: absolute;
	margin-top: 3px;
	padding: 0;
	z-index: 1000;
}

div.card-search-result {
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

div.card-search-result:hover {
	background: var(--pico-dropdown-hover-background-color);
}

button.card-search-result {
	margin-left: 15px;
	padding: 5px;
}

div.card-search-result-button {
	background: var(--pico-primary-background);
	color: var(--pico-primary-inverse);
	padding: 5px;
	border-radius: 5px;
	margin-left: 10px;
}

div.pitch {
	margin-left: 10px;
	margin-top: 3px;
	display: inline-block;
	min-width: 20px;
	min-height: 20px;
	border-radius: 50%;
	border: 2px solid rgba(230, 230, 230, 0.7)
}

div.pitch-1 {
	background: rgba(207, 17, 19, 0.8);
}

div.pitch-2 {
	background: rgba(255, 238, 0, 0.8); 
}

div.pitch-3 {
	background: rgba(0, 160, 229, 0.8);
}

article.card-list {
	display: flex;
	justify-content: space-between;
}

div.vr {
	width: 1px;
	background: var(--pico-color);
}

div.card-list-list {
	display: flex;
}

div.card {
	display: flex;
	align-items: center;
	margin: 5px;
	color: var(--pico-color);
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--pico-color);
}

i.card-delete {
	margin-left: 5px;
}

i.card-delete:hover {
	cursor: pointer;
	color: var(--pico-primary-inverse);
}

.decklist {
	cursor: pointer;
}

td.cardrow {
	display: flex;
	align-items: center;
}

.vcenter {
	display: flex;
	align-items: center;
}

.reporter {
	border-bottom: 0 !important;
}

.matchup-show {
	cursor: pointer;
}

a.matchup-show::after {
	display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-inline-start: calc(var(--pico-spacing, 1rem)* .5);
    transform: rotate(-90deg);
    background-image: var(--pico-icon-chevron);
    background-position: right center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    content: "";
    transition: transform var(--pico-transition);
}

a.matchup-show.matchup-showing::after {
    transform: rotate(0);
}
